<form  *ngIf="siteForm" nz-form nzLayout="vertical" [formGroup]="siteForm" (ngSubmit)="this.onSubmitted.next(true)" >
  <nz-form-item>
    <nz-form-label>WordPress Version</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="version" required />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Memory Limit (Optional, when left empty wordpress site can use unlimited ram)</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="memory" placeholder="128M"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>CPUs (Optional, when left empty wordpress site can use unlimited cpus)</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="cpu" placeholder="1"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="16">
      <label nz-checkbox formControlName="multi_site">Multisite</label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="16">
      <label nz-checkbox formControlName="wp_debug">Enable WP_DEBUG</label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item >
    <nz-form-control [nzSpan]="16">
      <button nz-button nzType="primary" nzGhost type="submit">Create WP Site</button>
    </nz-form-control>
  </nz-form-item>
</form>
