<form  *ngIf="siteForm" nz-form nzLayout="inline" [formGroup]="siteForm" (ngSubmit)="this.onSubmitted.next(true)" >
  <nz-form-item>
    <nz-form-label [nzSpan]="16">WordPress Version</nz-form-label>
    <nz-form-control [nzSpan]="16">
      <input nz-input formControlName="version" required />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="16" [nzOffset]="8">
      <label nz-checkbox formControlName="multi_site">Multisite</label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="margin-left:20px;">
    <button nz-button nzType="primary" nzGhost type="submit">Create WP Site</button>
  </nz-form-item>
</form>
