<nz-layout>
  <nz-header>
    <nz-row  nzJustify="space-between" nzAlign="middle">
      <b nz-typography id="title"><img src="assets/dove.svg" height="24" width="24" alt="logo image, a dove"> 1ClickWP</b>
      <nz-row nzJustify="end" nzAlign="middle" [nzGutter]="16">
        <a href="https://github.com/naveen17797" target="_blank">
          <span nz-icon nzType="github" nzTheme="outline"></span>
        </a>
        <a href="https://buymeacoffee.com/naveen17797" target="_blank">
          <span nz-icon nzType="coffee" nzTheme="outline"></span>
        </a>
        <a href="https://github.com/naveen17797/1clickwp" target="_blank">
          <span nz-icon nzType="fork" nzTheme="outline"></span>
        </a>
      </nz-row>
    </nz-row>
  </nz-header>


  <ng-template #noSites>
    <div class="center-empty">
      <nz-empty
        nzNotFoundImage="simple"
        nzNotFoundContent="🤷‍♂️ No sites found"
      ></nz-empty>
    </div>
  </ng-template>

  <nz-content>
    <div nz-row nzJustify="center"  class="main">
      <!-- Left Column (List of Sites) -->
      <nz-col nzSpan="24">
        <nz-space nzDirection="vertical" nzSize="large">
          <nz-card *nzSpaceItem nzTitle="Dashboard">
            <nz-row>
              <nz-col nzSpan="19">
                <nz-table #sitesTable [nzData]="sites" [nzBordered]="true" id="sites_table" [nzLoading]="loading" [nzNoResult]="noSites">
              <thead>
              <tr>
                <th>WP Version</th>
                <th>Multisite</th>
                <th>URL</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let site of sites">
                <td>{{ site.version }}</td>
                <td>{{ site.multi_site ? 'Yes' : 'No' }}</td>
                <td>{{ site.url }}</td>
                <td>
                  <a [href]="site.admin_url + '?auto_login=true'" nzGhost target="_blank" nz-button nzType="primary">1 Click Login</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a [href]="site.admin_url" nzGhost target="_blank" nz-button nzType="primary">Wp-Admin</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a [href]="site.phpmyadmin_url" target="_blank" nz-button nzGhost nzType="primary">PHPMyAdmin</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <button nz-button nzType="default" nzDanger (click)="deleteSite(site.id)">Delete</button>

                </td>
              </tr>
              </tbody>
            </nz-table>
              </nz-col>
              <nz-col nzOffset="1" nzSpan="4"><app-create-form [siteForm]="siteForm" (onSubmitted)="createSite()"></app-create-form></nz-col>
            </nz-row>
          </nz-card>

          <nz-card *nzSpaceItem nzTitle="Volume Bindings" [formGroup]="siteForm">
            <h4>Volume bindings allow you to map your host directory to a folder inside wordpress container.</h4>
            <h5>New bindings will only be applied to sites created after that.</h5>
            <br/>
            <div formArrayName="volume_bindings">
              <div *ngFor="let binding of volumeBindings.controls; let i = index">

                <nz-row [formGroup]="volumeBindings.at(i)">

                  <nz-space nzDirection="horizontal" nzSize="small">
                    <input *nzSpaceItem class="volume-binding-input" nz-input required formControlName="host_path" placeholder="Host Path">
                    <input *nzSpaceItem  class="volume-binding-input" nz-input required formControlName="container_path" placeholder="Container Path">
                    <button *nzSpaceItem type="button" nz-button nzDanger (click)="removeVolumeBindingRow(i)">-</button>
                  </nz-space>
                </nz-row>
              </div>
              <br/>
              <button nz-button type="button" (click)="addVolumeBindingRow()">Add New Binding</button>
            </div>
          </nz-card>

        </nz-space>
      </nz-col>


    </div>
  </nz-content>
</nz-layout>
